.TableHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 8px 0;

  .icon {
    flex-shrink: 0;
    color: #262626;
  }

  .title {
    margin: 0;
    font-weight: 700;
    color: #262626;
  }
}
