@use "../../../../theme/colors.scss" as *;

.MyPerformanceChart {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  height: fit-content;
  gap: 16px;
  padding: 16px;
  border: 1px solid $gris-1;
  border-radius: 10px;
}

.lineChart {
  width: 100%;
}