.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0 0 20px;
}

.teamContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.users {
    margin-top: 20px;
}