//Fondos
$background: #F6F6F6;

$card-background: #FFFFFF;
$secondary-card-background: #F0F0F0;

$input-background: #F5F5F5;

$navbar-background: #FFFFFF;

// Textos
$primary-text: #000000;
$secondary-text: #565656;
$tertiary-text: #8A8A8A;
$cuaternary-text: #CCCCCC;
$quintary-text: #0F1E7C;
$sub-text: #B1B1B1;


// Azules
$azul-1: #1700A5;
$azul-2: #013BA6;
$azul-3: #3229B9;
$azul-4: #403EC3;
$azul-5: #4361EE;
$azul-6: #5B67F7;
$azul-7: #697BE1;
$azul-8: #7790EB;
$azul-9: #84A4F5;
$azul-10: #92B9FF;

// Celestes
$celeste-1: #54C8E8;
$celeste-2: #5FCCE9;
$celeste-3: #6AD0EB;
$celeste-4: #75D4ED;
$celeste-5: #80D8EE;
$celeste-6: #88DBF0;
$celeste-7: #96DFF2;
$celeste-8: #A1E3F4;
$celeste-9: #ACE7F5;
$celeste-10: #B7EBF7;

// Verde Oscuros
$verde-oscuro-1: #00BC70;
$verde-oscuro-2: #0CC077;
$verde-oscuro-3: #19C47F;
$verde-oscuro-4: #25C986;
$verde-oscuro-5: #31CD8D;
$verde-oscuro-6: #3ED194;
$verde-oscuro-7: #4AD59B;
$verde-oscuro-8: #56DAA2;
$verde-oscuro-9: #63DEA9;
$verde-oscuro-10: #6DE2B0;

// Verde Claros
$verde-claro-1: #97D700;
$verde-claro-2: #9DDA0B;
$verde-claro-3: #A3DD15;
$verde-claro-4: #A8E020;
$verde-claro-5: #AEE32A;
$verde-claro-6: #B4E635;
$verde-claro-7: #BAE93F;
$verde-claro-8: #BFEC4A;
$verde-claro-9: #C5EF54;
$verde-claro-10: #CBF25F;

// Amarillos
$amarillo-1: #FFCE00;
$amarillo-2: #FFD216;
$amarillo-3: #FFD62C;
$amarillo-4: #FFDA42;
$amarillo-5: #FFDE58;
$amarillo-6: #FFE16D;
$amarillo-7: #FFE583;
$amarillo-8: #FFE999;
$amarillo-9: #FFEDAF;
$amarillo-10: #FFF1C5;

// Rojos
$rojo-1: #E63946;
$rojo-2: #F53B47;
$rojo-3: #F5434F;
$rojo-4: #F54B57;
$rojo-5: #F4535F;
$rojo-6: #F45B67;
$rojo-7: #F4626E;
$rojo-8: #F46A76;
$rojo-9: #F4727E;
$rojo-10: #F47A86;

// Naranjas
$naranja-1: #FF9100;
$naranja-2: #FF9100;
$naranja-3: #FEA229;
$naranja-4: #FEAA3E;
$naranja-5: #FEB352;
$naranja-6: #FDBB67;
$naranja-7: #FDC47B;
$naranja-8: #FDCC90;
$naranja-9: #FCD5A4;
$naranja-10: #FCDDB9;

// Negros y grises
$negro-1: #262626;
$negro-2: #2B2D42;
$gris-1: #A9A9A9;
$gris-2: #E4E4E4;
$gris-3: #E8EDEF;

$brand-green: hsl(88 63% 45%);
$brand-green-weak: hsl(88 63% 80% / .35);
$primary-blue: hsl(223 83% 40%);
$surface: #fff;
$ink: hsl(220 15% 20%);
$muted: hsl(220 10% 45%);