.ModulesTable {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    justify-content: flex-end;
}