@use "../../../../theme/colors.scss" as *;
@use "sass:color";

.ToggleButton {
  display: inline-flex;
  gap: 12px;
  align-items: center;

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__unselected {
    background-color: transparent;
    border: none;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 500;
    color: $gris-1;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;

    &:hover:not(:disabled) {
      background-color: rgba($gris-1, 0.3);
      color: color.adjust($gris-1, $lightness: -50%);
    }

    &:active:not(:disabled) {
      background-color: rgba($gris-1, 0.2);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
